include ../partials/header

.books-container
  .single-book-item
    .column
      form.form-group(method='post' action='/books/delete/' + book.id)
        .book-info
          p Title:
          p(value=book.id)= book.title
        .book-info
          p Author:
          p(value=book.id)= book.author
        .book-info
          p Genre:
          p(value=book.id)= book.genre
        button.btn.btn-danger(type='submit') Delete

include ../partials/footer
