include ../partials/header

h2 #{message}
.container 
  .form-container 
    h1 The Book Store
    form.form-group(method='post' action='/users/login')
      input.form-control(type='text' name='email' placeholder='Enter email...')
      input.form-control(type='password' name='password' placeholder='Password')
      input.btn(type='submit' value='Login') 
include ../partials/footer
      


      
